html {
    scroll-padding-top: 70px;   /* to account for the navbar */
}

.lang-logo {
    height: 25px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.text-shadow {
    text-shadow: -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0 #000000,
        -2px 0 0 #000000,
        2px 0 0 #000000,
        0 2px 0 #000000,
        0 -2px 0 #000000;
}

.carousel .carousel-item img {
    max-height: 420px;
    object-fit: contain;
}