/* ELEMENTS */
body {
    font-family:  "Lucida Console", monospace;
    display: flex;
    flex-direction: column;
	background-color: rgb(18, 19, 20) !important;
	color: rgb(235, 235, 235) !important;
}

li > a,
h4 > a {
    color: white;
    text-decoration: none;
}

hr {
    border: 1px solid white;
}

/* CLASSES */
.banner {
    opacity: 0;
    padding: 12vw;
    padding-bottom: 10px;

    animation: fadeIn 1s ease-in-out 1;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
}

.dark-item {
    background-color: rgb(18, 19, 20) !important;
    color: white;
}

a.dark-item,
.navbar-brand,
.nav-link,
.my-link {
    transition: color 200ms ease-in-out;
}


a.dark-item:hover,
.navbar-brand:hover,
.nav-link:hover,
.my-link:hover {
    color: rgb(0, 102, 255) !important;
}

.grabber {
    padding: 2rem 0;
}

.fixed-nav {
    position: fixed;
    z-index: 1;
    top: 3rem;
    width: inherit;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 1030;
    background-color:rgb(18, 19, 20);
}

.footer {
	background-color: rgb(18, 19, 20) !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footer-anim {
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.link-card {
    height: 3rem;
    width: fit-content;
    margin: auto;
}

.link-list {
    margin: auto;
    list-style: none;
    padding: 0;
    opacity: 0;
    
    animation: fadeIn 1s steps(240) 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.link-list > li,
.nav-item,
.navbar-nav > .navbar-brand {
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 12rem;
    text-align: center;
}

.link-list li, .nav-item {
    border-right: 1px solid white;
}

.link-list li:first-child, .navbar-nav .nav-item:first-of-type { 
    border-left: 1px solid white;
}

.logo-link {
    width: 30px;
}

.nav-link {
    padding: 0;
}

.nav-item {
    height: fit-content;
    margin: auto;
}

.my-h4 {
    width: 100%;
	padding-top: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1.5px solid grey;
}

.subtitle {
    font-size: 1vw;
    position: absolute;
    text-align: center;
    margin: auto;
    left: 10%;
    opacity: 0;

    color: rgb(204, 204, 0);

    transform: rotate(30deg);
    
    animation: fadeIn2 1s ease-in-out 1, flashy 1.2s ease-in-out infinite;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

.title {
    font-size: 2rem;
    margin: 5rem 0 2rem 0;
}

.title-card {
    font-size: 8vw;
    padding-bottom: 10px;
}

.title-box .title-card::after {
    position: relative;

    content: "";
    width: 6vw;
    height: 9vw;
    background: rgb(235, 235, 235);
    display: inline-block;
    margin: auto;
    margin-left: 0.1vw;

    animation: cursor-blink 2s ease-in infinite;
    animation-delay: 1s;
}

/* IDs */
#content {
    margin: auto;
}

/* KEYFRAMES */
@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flashy {
    0% {
        transform: rotate(-30deg) scale(1);
    }
    50% {
        transform: rotate(-30deg) scale(1.2);
    }
    100% {
        transform: rotate(-30deg) scale(1);
    }
}

@keyframes fadeIn2 {
    0% {
        transform: rotate(-30deg) translateY(20px);
        opacity: 0;
    }
    100% {
        transform: rotate(-30deg) translateY(0);
        opacity: 1;
    }
}