/* ELEMENTS */
body {
    font-family:  "Lucida Console", monospace;
    display: flex;
    flex-direction: column;
	background-color: rgb(18, 19, 20) !important;
	color: rgb(235, 235, 235) !important;
}

li > a,
h4 > a {
    color: white;
    text-decoration: none;
}

hr {
    border: 1px solid white;
}

/* CLASSES */
.banner {
    opacity: 0;

    animation: fadeIn 1s ease-in-out 1;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
}

.grabber {
    padding: 2rem 0;
}

.footer {
	background-color: rgb(18, 19, 20) !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footer-anim {
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.link-card {
    height: 3rem;
    width: fit-content;
    margin: auto;
}

.link-list {
    margin: auto;
    list-style: none;
    opacity: 0;
    
    animation: fadeIn 1.5s steps(240) 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.link-list > li {
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 12rem;
    text-align: center;
}

.link-list li, .nav-item {
    border-right: 1px solid white;
}

.link-list li:first-child, .navbar-nav .nav-item:first-of-type { 
    border-left: 1px solid white;
}

.logo-link {
    width: 30px;
}

.nav-link {
    padding: 0;
}

.nav-item {
    height: fit-content;
    margin: auto;
}

.my-h4 {
    width: 100%;
	padding-top: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1.5px solid grey;
}

.title {
    font-size: 2vw;
    margin: 3vw 0;
}

.title-card {
    font-size: 10vw;
    padding: 12vw;
    padding-bottom: 10px;
}

.title-box .title-card::after {
    content: "";
    width: 6vw;
    height: 9vw;
    background: rgb(235, 235, 235);
    display: inline-block;
    margin: auto;
    margin-left: 10px;

    animation: cursor-blink 2s ease-in infinite;
    animation-delay: 1s;
}

/* IDs */
#content {
    margin: auto;
}

/* KEYFRAMES */
@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
