<!DOCTYPE html>
<html lang="en">

<head>
    <title>jtpeller | Languages</title>
</head>

{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}
    <div class="container"><h1 class="text-center title mb-1">Languages</h1>
    <p class="text-center grabber">
        I have worked with several different languages. While many are used day-to-day in my professional career,
        many are demonstrated through my own personal projects.
    </p>
        <section class="breakdown">
            {{ range $term, $taxonomy := .Site.Taxonomies.languages.ByCount }}
            <div class="card mb-4 border-accent shadow-accent">
                <div class="card-body">
                    <h3 class="section-header">
                        <span>
                            {{ with $taxonomy.Page.Data.Term }}
                            {{ $source := (printf "/img/logos/%s.svg" .)}}
                            <img src="{{ $source | lower }}" alt="{{.}}" class="lang-logo" loading="lazy" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" data-bs-title="{{.}}" aria-label="{{.}}" data-bs-original-title="{{.}}" />
                            {{ end }}
                        </span>
                        {{ $taxonomy.Page.Data.Term }}
                        <span class="float-end badge bg-featured badge-text">{{ .Count }}</span>
                    </h3>
                    <p class="text-center grabber mb-1">My experience is demonstrated by...</p>
                    <ul class="list-group border-0">
                        {{ range $taxonomy.Pages }}
                        <li class="list-group-item bg-force">
                            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                            <span>-- {{.Params.grabber}}</span>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </section>
    </div>
    <script>
        // Enable tooltips everywhere 
        // ref: https://getbootstrap.com/docs/5.3/components/tooltips/#enable-tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>

</html>

