:root {
    --accent-color: rgb(0, 110, 255);
    --secondary-color: rgb(131, 0, 219);
    --bg-color: rgb(235, 235, 235);
    --button-color: rgb(20, 21, 22);
    --text-color: rgb(12, 12, 12);
}

[data-bs-theme="dark"] {
    --accent-color: rgb(0, 183, 255);
    --secondary-color: rgb(255, 239, 17);
    --bg-color: rgb(14, 15, 16);
    --button-color: rgb(160, 164, 168);
    --text-color: rgb(235, 235, 235);
}

body {
    color: var(--text-color);
    background-color: var(--bg-color) !important;
    animation: moveGradient 15s linear infinite;
    font-family: "Lucida Console", monospace;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 100%;
}

h1 {
    padding-bottom: 16px;
    border-bottom: 1px solid grey;
}

.active {
    color: var(--accent-color);
}

/* COLORING */

.border-featured {
    border-color: var(--secondary-color) !important;
}

.border-accent {
    border-color: var(--accent-color) !important;
}

.bg-featured {
    background-color: var(--secondary-color) !important;
}

.bg-accent {
    background-color: var(--accent-color) !important;
}

.btn-outline-featured {
    border-color: var(--secondary-color) !important; 
    color: var(--secondary-color) !important;
    transition: all 200ms ease-in-out !important;
}

.btn-outline-featured:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color) !important;
}

.btn-outline-accent {
    border-color: var(--accent-color) !important;
    color: var(--accent-color) !important;
    transition: all 200ms ease-in-out !important;
}

.btn-outline-accent:hover {
    background-color: var(--accent-color);
    color: var(--bg-color) !important;
}

.text-featured {
    color: var(--secondary-color) !important;
}

.text-accent {
    color: var(--accent-color) !important;
}

.shadow-accent {
    box-shadow: 0px 0px 8px var(--accent-color);
}

.shadow-featured {
    box-shadow: 0px 0px 8px var(--secondary-color);
}

/* END: COLORING */

/* LIGHT / DARK CONTROLS */

.bg-force {
    background-color: var(--bg-color) !important;
}

.badge-text {
    color: var(--bg-color);
}

.fill-color {
    fill: var(--text-color) !important;
}

/* END: LIGHT / DARK CONTROLS */

.link {
    color: var(--text-color);
    text-decoration: none;
    transition: color 200ms ease-in-out !important;
}

.link:hover {
    color: var(--accent-color) !important;
}

.logo-link {
    width: 30px;
    filter: invert(1) brightness(2);
}

[data-bs-theme='dark'] .logo-link {
    filter: invert(0) brightness(2);
}

.btn-logo {
    width: 20px;
    margin: 0px 0px 5px 15px;
}

.no-border {
    border: none !important;
}

.text-center {
    text-align: center !important;
}

/***** KEYFRAMES *****/
@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% {background-position: 100% 50%; }
    100% {background-position: 0% 50%; }

}