:root {
    --accent-color: rgb(0, 183, 255);
    --secondary-color: rgb(255, 255, 0);
    --bg-color: rgb(14, 15, 16);
}

body {
    font-family: "Lucida Console", monospace;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color) !important;
    color: rgb(235, 235, 235) !important;
}

.link {
    color: white;
    text-decoration: none;
    transition: color 200ms ease-in-out !important;
}

.link:hover {
    color: var(--accent-color) !important;
}

.logo-link {
    width: 30px;
}

.btn-logo {
    width: 20px;
    margin: 0px 0px 5px 15px;
}

.no-border {
    border: none !important;
}

.text-center {
    text-align: center !important;
}
